$body-background-color: #212121;
$body-text: #ffffff;

$trans: transparent;

$clock-color: rgba(255,100,200,1);
$clock-color-light: rgba(255,100,200,0.02);

$speed: 100ms;

$inset-2: inset 0 0 2px rgba(0,0,0,0.2);
$inset-4: inset 0 0 4px rgba(0,0,0,0.2);